.container {
  margin-top: 12px;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  color: rgb(0, 154, 215);
  font-weight: 500;
  font-size: 14px;
}
.error {
  margin-top: 128px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: red;
}
.loading {
  margin-top: 128px;
  display: flex;
  justify-content: center;
}